<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caudex&family=Open+Sans&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PigpenCipher</title>
  </head>
  <body>
    <h1>Pigpen Cipher</h1>
    <form action="/enc">
      <input type="text" placeholder="Enter key (integer)" />
      <input type="text" id="" placeholder="Paste your text to encrypt" />
      <button type="submit">Zaszyfruj</button>
    </form>
    <form action="/dec">
      <input type="text" placeholder="Enter key (integer)" />
      <input type="text" placeholder="Paste your text to decrypt" />
      <button type="submit">Odszyfruj</button>
    </form>
  </body>
</html>
